EVOLUTION_API_KEY=<APIKEY>                                  #CHAVE API DA SUA EVOLUTION
EVOLUTION_DOMAIN=<SEU DOMÍNIO>                              #DOMÍNIO DA SUA EVOLUTION
EVOLUTION_INSTANCE=<INSTANCIA NOTIFICADORA>                 #DOMÍNIO PRINCIPAL CASO NÃO SEJA DEFINIDO NO ENDPOINT
EVOLUTION_REMOTEJID=<REMOTEJID A NOTIFICAR>                 #REMOTEJID DE ONDE VOCÊ QUER NOTIFICAR, SE GRUPOS, JID DO GRUPO, SE NÚMERO, BASTA POR O TELEFONE NO FORMATO 5511999999999

WUZAPI_TOKEN=<TOKEN WUZAPI>                                 #TOKEN DE AUTENTICAÇÃO DA WUZAPI, O MESMO USADO NO APP DA WUZAPI   
PORT=4000                                                   #PORTA DO SERVIDOR HTTP
SQLITE_PATH=./data/notifications.sqlite                     #CAMINHO DO BANCO LOCAL SQLITE
